[Agents]
login_name1 = password1
login_name2 = password2

[General]
AreaID = 34
PriorAgent = login_name1

[Mail]
SenderEmail =sender@gmx.de
ReceiverEmail = receiver@gmx.de
Password = password3
Host = mail.gmx.net
Port = 465