[Agents]
@matrikel_1 = password1
bibkonto_1 = password2

[General]
PriorAgent = login_name1
AreaID = 34
FavRooms = ["A210","A213","A214","A215","A216"]
Periods = [0,1]
DeltaNewBooking = 3
DeltaChangeBooking = 0
ReverseFill = false

[Mail]
SenderEmail =sender@gmx.de
ReceiverEmail = receiver@gmx.de
Password = password3
Host = mail.gmx.net
Port = 465